{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}
<div class="container-fluid my-0 px-0 mb-3">
    <img src="https://source.unsplash.com/1600x500/?contact,phone" class="d-block w-100" alt="...">
</div>
<div class="container">
    <h1 class="my-2 text-center">Contact Us</h1>
    <form class="col-md-6 mx-auto shadow-lg p-4" method="post" action="/contact">
    {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your Number">
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Reason for Contacting</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-5">submit</button>

    </form>
</div>


{% endblock body %}